.zensa-checkout {

  & .form {
    width: 100%;
    margin: 20px auto;
  }

  & .form-group {
    background: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
                0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    margin-bottom: 20px;
  }

  & .form-subgroup .label:not(:last-child) {
    border-right: 1px solid #F0F5FA;
  }

  & .label {
    position: relative;
    color: #8898AA;
    font-size: 0.85rem;
    height: 44px;
    line-height: 44px;
    margin-left: 20px;
    display: block;
  }

  & .label-lg {
    height: 60px;
    line-height: 60px;
  }

  & .form-group .label:not(:last-child) {
    border-bottom: 1px solid #F0F5FA;
  }

  & .label > .row > span {
    text-align: right;
    float: left;
  }

  & .form-field {
    background: transparent;
    font-size: 0.85rem;
    font-weight: 300;
    border: 0;
    color: #31325F;
    outline: none;
    cursor: text;
    width: 100%;
    height: 42px;
    float: right;
  }

  & .form-field-lg {
    height: 64px;
  }

  & .form-field::-webkit-input-placeholder { color: #CFD7E0; }
  & .form-field::-moz-placeholder { color: #CFD7E0; }
  & .form-field:-ms-input-placeholder { color: #CFD7E0; }

  & .form-field-error {
    color: var(--soft-red);
  }

  & .form-field.form-field-error::-webkit-input-placeholder { color: var(--soft-red); }
  & .form-field.form-field-error::-moz-placeholder { color: var(--soft-red); }
  & .form-field.form-field-error:-ms-input-placeholder { color: var(--soft-red); }

  & .form-btn {
    cursor: pointer;
    float: left;
    display: block;
    background: #666EE8;
    color: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
                0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 0;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    width: 100%;
    height: 48px;
    line-height: 38px;
    outline: none;
  }

  & .form-btn:hover {
    background: #555ABF;
  }

  & .form-btn:focus {
    background: #555ABF;
  }

  & .form-btn:active {
    background: #43458B;
  }

  & .outcome {
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 24px;
    text-align: center;
  }

  & .success, .error {
    display: none;
    font-size: 13px;
  }

  & .success.visible, .error.visible {
    display: inline;
  }

  & .error {
    color: #E4584C;
  }

  & .success {
    color: #666EE8;
  }

  & .success .token {
    font-weight: 500;
    font-size: 13px;
  }

  & .transition-left {
    transition: 0.5s;
    transform: translateX(0);
    opacity: 0;
    visibility: hidden;
  }
  & .transition-right {
    transition: 0.5s;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
  & .transition-left.show, & .transition-right.show {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  & .transition-left.hide {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }

  & .shipping-billing-toggle {
    cursor: pointer;
    border-top: 1px solid rgb(204, 203, 218);
    border-bottom: 1px solid rgb(204, 203, 218);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(167, 166, 182);
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
  }
  & .shipping-billing-toggle:hover {
    box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, .0625);
  }
  & .shipping-billing-toggle-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid rgb(204, 203, 218);
    border-right: 1px solid rgb(204, 203, 218);
  }
  & .shipping-billing-toggle-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid rgb(204, 203, 218);
  }
  & .toggleSelected {
    background-color: rgba(0,0,0,0.05);
  }

}
