@import url('https://fonts.googleapis.com/css?family=Roboto');

@import '_variables';
@import './overrides/_flexboxgrid';
@import './modules/_form';
@import './external/_react-select';

body {
  font-family: var(--font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--heading-letter-spacing);
}

input, button {
  font-family: var(--heading-font-family);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}
